%title Combine Spreadsheets
%section#intro
	.container
		.row
			.col-md-12
				#textarea
					%h1 Combine Spreadsheets
					%h2 easily online
		.row
			.col-md-4
				= image_tag "home_page/multiple_spreadsheets.png", class: 'multiple'
			.col-md-4
				= image_tag "home_page/arrow.png", class: 'arrow'
			.col-md-4
				= image_tag "home_page/single_spreadsheet.png", class: 'single'
