= form_for Spreadsheetdoc.new, class: "form-horizontal" do |f|
	.form-group#spreadsheet-upload
		%h3 Drag and drop here to upload spreadsheets
		%span{class: "btn btn-default btn-file", id: "cfile"}
			%p Or choose a file
			= f.file_field :spreadsheetfile, multiple: true, name: 'spreadsheetdoc[spreadsheetfile]'
