/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"
 
.logo
	max-height: 45px
.navbar
	background-color: #448ccb
	background-image: none
.navbar-brand
	padding-left: 15px
	padding-top: 2px
	padding-bottom: 2px
#navholder
	padding-right: 0px
	padding-left: 0px
.navbar-default
	.navbar-nav
		li
			a
				color: #000000
				font-size: 16px
			a:hover
				color: #FFFFFF
.sidebar-nav
	li
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0px 
footer
	margin-top: 60px
	background-color: #eeeeee
	height: 200px
	padding-top: 20px